# Assignment 6

In [65]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

In [66]:
# Dataset is already loaded below
data = pd.read_csv("employee.csv")

In [67]:
# Dimensions of training data
data.shape

(4277, 13)

In [68]:
# Print first few rows of data
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [69]:
# drop id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [70]:
# Explore columns
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [71]:
# replace NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [72]:
#Handling null values in categorical columns
data = data.dropna()

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

###Data Visualization :

## Feature Encoding and Normalization

Before training the model, we should perform one-hot encoding for all categorical/discrete variables, normalize continuous variables and then combine all data to form the training set.

In [74]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [75]:
# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [76]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [77]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [78]:
final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [79]:
final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Train Test Split

In [80]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

## Pre-processing data

In [81]:
# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [82]:
# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [83]:
X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3267,0.081809,0,0.146913,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1828,1.259478,0,-0.483078,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3462,0.261102,1,-0.483078,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4243,-0.386616,1,-0.440931,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1738,1.259478,0,-0.483078,-0.019402,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0.220030,1,-0.089593,2.407034,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2581,0.147268,0,-0.052438,-0.019402,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
198,0.259717,1,-0.269102,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
790,0.760290,0,-0.483078,-0.626010,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3808,-0.217749,0,0.028344,-0.626010,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [84]:

reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [85]:
reg.coef_

array([ 1.83206267e+02,  3.39975734e+01,  1.96917184e+02,  2.25393623e+02,
        5.99648427e+01, -8.25661760e+01,  1.93441185e+02, -2.22797494e+03,
        1.11218669e+03,  8.29361433e+02,  4.88993790e+02,  5.14750674e+02,
        9.28640479e+02,  9.00403344e+02,  8.98238207e+01,  9.53093058e+02,
        6.84300858e+02, -1.79056769e-12,  3.04443540e+02,  3.19337106e+00,
        1.45946007e+02,  1.88378099e+02, -3.37985643e+02, -1.92031257e+02])

In [86]:
reg.intercept_

np.float64(6228.919357671032)

In [87]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

np.float64(212.47966654759458)

In [88]:
# Predict on the test data
y_pred = reg.predict(X_test)

In [89]:
#Evaluate the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 11872.61299649446

*A lower MSE indicates that the model's predictions are closer to the actual values on average, while a higher MSE suggests larger errors between predictions and actual values.
â—Pre-processing on Test data not done.

In [90]:
#Q1. Preprocess Test data and get predictions

In [91]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [92]:
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3400,0.261537,0,-0.510460,-0.627379,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1502,0.261537,0,2.440335,-0.627379,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3082,-0.172089,0,-0.505120,-0.627379,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1728,0.261537,1,-0.510460,0.582009,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0
4178,0.261537,0,-0.510460,-0.627379,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,-0.007014,0,-0.286636,0.582009,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3860,-0.386089,0,-0.254200,-0.627379,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1781,-0.278500,0,-0.339715,-0.022685,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
886,0.261537,1,-0.510460,1.186704,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1566,-0.253318,0,-1.690777,-0.627379,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [93]:
y_hat = reg.predict(X_test)

In [94]:
#Predicted Values
y_hat

array([6976.68277343, 7471.75540216, 6571.24631251, 6766.6030395 ,
       6976.68277343, 7385.28491928, 7137.97273509, 6834.37445233,
       6697.55678167, 7419.50891787, 6379.09815821, 6774.62778996,
       6747.09063564, 7808.71969834, 7323.44463536, 6631.09425801,
       6401.37513476, 7481.74501384, 7323.44463536, 6876.51022291,
       6898.11867341, 7165.33201147, 7218.20799602, 7387.97882288,
       6507.4203506 , 7278.64947251, 8129.77695435, 7304.11049927,
       6134.61946129, 7820.77976793, 7971.53866101, 6499.0455744 ,
       7029.11846742, 7122.59247251, 7137.97273509, 6753.67375909,
       8582.15473092, 7883.29481869, 7240.49120704, 6757.52048602,
       7210.68362867, 5945.97022326, 7142.75815475, 6675.62125285,
       8521.21523259, 6908.51849345, 7159.22823157, 6876.97933386,
       7369.09570728, 7311.95892567, 6095.0435226 , 7870.87050731,
       7637.47607025, 6948.42789137, 7303.09902987, 6879.66727468,
       7132.2456876 , 7641.26785825, 6522.48499046, 7399.28014101,
       7357.36326856, 7798.48627876, 7345.40185935, 6774.62778996,
       7774.72212496, 8003.34471105, 6651.59417359, 5988.47696534,
       7717.13420439, 6515.4168754 , 6440.88676425, 7337.4995285 ,
       6651.39556743, 7070.18134013, 6714.70624025, 6879.66727468,
       7880.78295646, 7652.99652261, 6783.82546403, 7425.72788165,
       5751.93520128, 6813.63004348, 6928.67405265, 7044.22244306,
       6972.60272047, 7859.04348991, 7132.2456876 , 7916.6859739 ,
       7541.68148836, 6083.05178706, 8023.13363959, 7379.81057298,
       7008.88444112, 7523.38516902, 7419.64469558, 7029.11846742,
       6417.59331835, 6847.99837811, 6180.85506486, 7171.45663714,
       7218.01647531, 6168.61703467, 6455.33511371, 6935.2819731 ,
       7020.93136312, 8019.72897421, 7249.27120776, 7122.59247251,
       7340.12138878, 7014.44430021, 7222.32364844, 6948.06568844,
       7054.48494912, 6782.33493203, 8459.90846118, 6795.58390707,
       7658.15385926, 6460.0170318 , 6690.06669474, 7132.2456876 ,
       6117.07833202, 7194.44450098, 8598.4268437 , 7805.34145304,
       6926.13378513, 7132.2456876 , 7523.38516902, 7206.4755573 ,
       7485.53685765, 7259.50802719, 6633.27730553, 6693.70891637,
       8321.80821144, 7230.78253304, 7850.18511635, 6937.80739181,
       6427.32199219, 6409.22886599, 7407.31171426, 7274.40888533,
       7425.72788165, 8301.29731971, 7469.50462122, 6662.07201526,
       6362.75135723, 7505.02772152, 8193.03836163, 6031.25590056,
       7557.00076985, 7687.68136016, 7332.16907312, 7391.62215497,
       7132.2456876 , 7059.79591741, 6714.70624025, 6937.46597463,
       6816.5161415 , 6714.70624025, 6651.39556743, 7196.91618689,
       6991.23909497, 6954.08144017, 6983.18956776, 7099.33533405,
       7210.53502537, 8323.18513507, 7626.05887761, 6912.84280398,
       7337.4995285 , 7130.97223516, 7640.48371876, 7166.34147411,
       6354.90560044, 6879.66727468, 7141.34119365, 6449.23021946,
       6896.45503916, 6976.68277343, 7228.67887323, 7238.97050618,
       6847.99837811, 7130.97223516, 6563.21848848, 7112.97699059,
       7056.36117267, 7471.06919907, 6963.89531191, 7477.05499289,
       7037.42131431, 7714.11634906, 7177.41814606, 6680.30317094,
       7743.61858247, 7469.48016598, 6430.29519793, 6794.59937997,
       6769.79726858, 7830.98106694, 5657.61058226, 7222.44207171,
       7385.56542492, 8272.74975514, 6448.00083761, 5803.55658879,
       6396.72651153, 6662.07201526, 6714.70624025, 6878.15008304,
       6986.92305152, 6937.80739181, 7178.84480148, 6714.66294725,
       7461.6259149 , 7859.26145445, 7593.61874225, 7023.23007792,
       7611.59425539, 7662.78443004, 7132.2456876 , 6060.6065437 ,
       6850.16112652, 7029.11846742, 7020.45840415, 6788.03353539,
       7141.68710086, 7623.81468228, 6491.6539329 , 7430.84311644,
       7403.5079438 , 7346.1040908 , 7249.74314707, 7999.04409641,
       7260.97692511, 6962.69571384, 7346.64461449, 6924.32775256,
       6475.46472091, 7437.82802685, 6654.3359016 , 6864.45763737,
       7304.11049927, 6931.9375744 , 7526.56486552, 6335.5584386 ,
       7072.98724352, 7154.58303107, 6987.11472718, 7228.58508346,
       7395.20798717, 7277.36767164, 7243.45134837, 6690.59399463,
       7223.10289173, 6962.69571384, 7309.23605047, 7168.71403052,
       6424.59559451, 8128.64708733, 6409.22886599, 7455.76708707,
       6963.277028  , 8014.92795267, 7230.78253304, 7297.26955397,
       6500.85160697, 6898.11867341, 7036.64761614, 6934.8963607 ,
       7714.11634906, 6530.5364016 , 7329.22499553, 6279.40748667,
       7029.11846742, 6798.74840109, 7436.25204037, 7560.39906837,
       7150.86264474, 8156.26705701, 7386.85680423, 6864.45763737,
       6476.80479628, 7252.18143111, 7571.45966141, 6310.38251747,
       6843.44360298, 6892.32864852, 7132.2456876 , 5882.79705253,
       6493.9226928 , 7026.58302982, 6615.57350935, 7278.64947251,
       8126.82929021, 6722.03685798, 6962.69571384, 6512.99033658,
       7029.11846742, 6877.84500768, 6091.91622978, 7273.75351524,
       6491.19981761, 6595.17622599, 7333.77558929, 6377.45085582,
       8259.62467367, 6928.67405265, 7220.79048107, 7848.38629122,
       7607.54975815, 6763.34991497, 6847.44207683, 7718.11870197,
       6783.82546403, 7168.71403052, 7132.2456876 , 7111.55646838,
       6515.4168754 , 7432.44256905, 6976.68277343, 7829.19505171,
       7230.08880079, 6998.95709893, 7040.0296352 , 7099.33533405,
       6152.40695787, 7942.65324324, 6818.18524033, 6533.38761994,
       6096.77235257, 6473.42277723, 7228.67887323, 7809.74104512,
       7552.16059112, 6473.42277723, 7564.0478517 , 6335.97057891,
       6714.70624025, 6731.9329378 , 6929.84912023, 7910.14995906,
       7663.00867954, 6451.95309466, 6510.83715882, 7560.39906837,
       6853.91293106, 7273.75351524, 6972.60272047, 6345.01690795,
       7254.45925938, 6868.95240898, 6874.78756042, 7193.65995307,
       7445.53200774, 6672.36670664, 7137.95944291, 6968.57634224,
       6496.17345108, 6714.70624025, 8089.33288313, 7132.2456876 ,
       6142.46521808, 7132.2456876 , 7122.59247251, 7678.95928683,
       6211.04074811, 6753.67375909, 6988.99402952, 6754.03898589,
       7564.0478517 , 5888.22941845, 6799.93422013, 7206.93940668,
       7159.22823157, 6699.66199293, 6915.52967547, 7183.34022926,
       6400.05218908, 7582.589072  , 7427.96321841, 7132.2456876 ,
       7763.38486468, 7038.39569561, 7628.74851084, 7629.35544218,
       7364.9730904 , 7240.41131196, 6808.83896297, 6732.20407652,
       7080.42324686, 6708.93754029, 7670.53314676, 7263.06764539,
       7025.62166055, 7907.55360824, 7453.21238763, 7029.11846742,
       7139.91108207, 7252.18143111, 7016.48278133, 6885.74017346,
       6850.34866935, 6475.98910844, 7029.11846742, 6837.24356123,
       7014.44430021, 5901.77645975, 7304.11049927, 7097.01672765,
       7541.68148836, 7793.87782003, 7275.8675446 , 7718.11870197,
       7148.80956813, 6186.93260882, 6406.03664094, 6850.34866935,
       7581.8244848 , 6850.16112652, 6826.09015083, 6937.80739181,
       7246.25088506, 7720.89430285, 6184.7009333 , 7403.5079438 ,
       7150.73851737, 7553.62232844, 6449.23021946, 7036.64761614,
       7278.64947251, 6783.82546403, 6630.30882234, 6788.03353539,
       6940.91468543, 7514.94900714, 7175.22082485, 7223.69899848,
       8008.51041038, 6972.29912509, 6498.39736066, 7191.49971572,
       6993.69405409, 6473.42277723, 6510.71212789, 7259.18671848,
       7029.11846742, 6546.27771367, 7073.14986053, 7197.78516824,
       7146.97456397, 6808.62536334, 6864.45763737, 7252.52139849,
       7859.26145445, 7416.01973332, 6881.99595148, 7403.56066949,
       7070.20195197, 7621.09180709, 6980.11118905, 7123.11947011,
       6565.94136367, 6485.36778431, 6578.31600439, 6671.50560044,
       6916.96258455, 7589.37549607, 7183.34022926, 6927.21806595,
       6981.69903576, 8169.04427663, 6567.98330736, 6828.7924267 ,
       7183.34022926, 7029.11846742, 6473.42277723, 7029.11846742,
       6789.93035827, 6329.19722133, 6304.57700718, 7109.55731192,
       7132.2456876 , 6714.70624025, 6473.42277723, 6732.56733131,
       6850.34866935, 6757.93729062, 6591.65278223, 7165.33201147,
       7501.26730756, 7029.32304168, 6522.48499046, 6481.27341145,
       7407.31171426, 6675.68889909, 6869.58379545, 7052.59331498,
       6543.55483848, 7501.1619966 , 7130.97223516, 6397.60045261,
       6927.21806595, 7039.88247299, 7182.61778146, 6709.89812837,
       6529.492368  , 6830.00313354, 7714.75728225, 6822.47821315,
       6912.96440302, 6714.70624025, 6964.21081248, 7599.89772889,
       6496.17345108, 7502.8397164 , 7295.27100384, 7010.21649742,
       7410.0477324 , 7130.70130529, 7230.78253304, 7223.69899848,
       7264.35935675, 6963.277028  , 6864.45763737, 7700.49701949,
       7091.4506171 , 7611.59425539, 6741.33575135, 6566.55428992,
       6858.33107514, 6963.277028  , 6747.09063564, 6753.67375909,
       8046.73747222, 6794.59937997, 7754.03000952, 7036.64761614,
       7012.78214247, 6618.94443597, 7333.77558929, 6850.16112652,
       7036.64761614, 7159.09453996, 6356.92460979, 7183.34022926,
       6745.70554913, 6851.38039716, 6300.68344905, 7165.56903549,
       7091.96142332, 6759.77865334, 7823.15818669, 6377.45085582,
       7010.21649742, 6601.59642746, 7410.28613503, 5611.5253317 ,
       6878.15008304, 6774.62778996, 6794.59937997, 6491.6539329 ,
       6220.82397409, 7036.64761614, 6714.20883195, 7010.21649742,
       6893.7130765 , 6769.94587187, 6930.74948236, 8332.71459785,
       6496.17345108, 7060.62196972, 7188.51449188, 7052.59331498,
       7275.8675446 , 6515.39237537, 7108.38698488, 6988.99402952,
       6732.20407652, 7136.22857143, 7062.5187926 , 7816.46651066,
       7528.98358638, 7631.82303224, 6599.46820924, 6704.04161341,
       6819.70243196, 7171.45663714, 6896.0728705 , 7766.10773988,
       6543.11629378, 7169.92423643, 6601.59642746, 7018.22270133,
       7168.71403052, 6321.37708482, 7227.80152519, 6284.77353919,
       7017.55586482, 7658.15385926, 7122.59247251, 6443.17016254,
       7150.73851737, 6714.66294725, 7546.57199566, 6850.16112652,
       7875.68499685, 7130.97223516, 5918.65103664, 7165.33201147,
       6972.60272047, 7323.44463536, 7255.45635942, 7582.11367345,
       7208.77441085, 7840.71880238, 7431.96915315, 6850.34866935,
       7284.32342598, 7935.0434214 , 6763.34991497, 6850.16112652,
       7122.59247251, 7112.97699059, 6864.45763737, 7086.52814111,
       7487.0043889 , 6220.82397409, 7183.34022926, 6901.34318363,
       7599.22974156, 6759.77865334, 6082.71855572, 7029.11846742,
       8007.19745327, 7035.75077651, 6794.59937997, 7564.7434218 ,
       6893.45834896, 7248.90765009, 5897.88120781, 6910.68609602,
       7364.9730904 , 7272.45450395, 7595.53920089, 5876.84482903,
       6665.45403432, 7431.96915315, 7122.59247251, 7070.37425964,
       6318.30726318, 6706.23680718, 7629.8989772 , 6912.14765642,
       7072.32768707, 6818.18524033, 6087.26001258, 6735.98750784,
       7511.50412699, 6808.62536334, 7175.16599867, 7112.97699059,
       7486.0673953 , 8048.2502088 , 7439.39324703, 7714.75728225,
       6864.45763737, 7664.63381407, 7704.75402818, 7485.53685765,
       6515.4168754 , 5828.17868746, 7191.32087806, 6723.62468636,
       6831.12735476, 6990.39748952, 7133.87829578, 7319.4728699 ,
       6829.64093061, 7475.98457603, 6898.11867341, 6609.16543141,
       7713.52869625, 7668.1755793 , 6991.23909497, 6533.38761994,
       7115.25598214, 7441.57313555, 7441.24973916, 6936.28916176,
       7577.51122753, 7010.68034681, 7225.29685418, 7304.11049927,
       6756.63254539, 6304.57700718, 6898.11867341, 7070.20195197,
       6850.34866935, 7489.76466044, 6087.26001258, 7259.65663049,
       7291.98716243, 6910.92200713, 7278.64947251, 7047.21622429,
       6232.32609937, 6714.70624025, 7179.93947125, 6788.03353539,
       6911.88576804, 7375.1800022 , 7085.06217418, 5780.67302776,
       7132.2456876 , 6882.35815441, 6599.60621939, 6881.99595148,
       7402.74309973, 6500.85160697, 7313.25924015, 6898.08129312,
       6900.68284195, 6117.07833202, 6374.89008684, 7475.30003823,
       7564.0478517 , 6351.08503669, 7954.38435186, 8074.71965761,
       7183.34022926, 6847.99837811, 8074.9477019 , 6337.36447117,
       7763.09135304, 6344.7383819 , 6714.70624025, 6976.68277343,
       7036.64761614, 6515.4168754 , 7814.79971058, 7262.67644661,
       7374.35394988, 7555.79462808, 6601.59642746, 7230.78253304,
       6776.16291649, 7146.97456397, 7318.29904148, 7190.77916628,
       6540.71084661, 6259.22906415, 7444.81688388, 6503.57448216,
       7545.34378667, 6460.0170318 , 7577.46452518, 6893.7130765 ,
       7049.17444462, 7047.21622429, 7431.78342519, 6499.11074443,
       6882.35815441, 7036.64761614, 6801.17414247, 5860.31391144,
       7910.14995906, 7175.485691  , 7030.99871147, 7646.18736275,
       7451.68788758, 7078.46861099, 6722.03685798, 7036.64761614,
       7137.97273509, 5888.50785848, 7372.3391625 , 6272.63480958,
       6873.86955457, 7887.48288642, 7029.11846742, 7132.2456876 ,
       7026.20946773, 7029.11846742, 6220.82397409, 6091.91622978,
       6546.00657495, 6563.53932488, 6900.35283768, 6714.70624025,
       6192.67295807, 7640.33712561, 6850.16112652, 6714.70624025,
       7316.64826746, 6200.61613871, 6847.44207683, 6978.6626245 ,
       6451.95309466, 7621.83107482, 6147.32134087, 7681.94452083,
       6758.62818698, 6860.36300022, 7136.42305486, 6651.39556743,
       7148.80956813, 6937.80739181, 7029.32304168, 7259.65663049,
       7887.64282841, 7431.96915315, 6649.78468236, 6908.51849345,
       6942.32299713, 6942.32299713, 7585.4754894 , 6976.68277343,
       8077.70270233, 7151.92626604, 6876.97933386, 7368.2999308 ,
       7585.20650386, 6599.38429735, 6485.02767461, 7894.50120643,
       7075.96182034, 7172.94183331, 7564.7434218 , 6988.18516606,
       7921.88239778, 7008.79252875, 6714.66294725, 7132.2456876 ,
       7008.66618721, 7568.54367318, 7529.12786033, 7228.67887323,
       7162.63331406, 6476.80479628, 6489.21383817, 7015.64973974,
       7353.9471348 , 7183.34022926, 6733.05063816, 6391.62604901,
       7029.32304168, 7857.18852002, 7353.98124951, 7197.78516824,
       7304.11049927, 7191.32087806, 6733.05063816, 7138.48596413,
       6345.48974603])

In [95]:
# Normalized Mean Absolute Error (Dividing by mean)
mae_test= mean_absolute_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Abosulte Error: ",mae_test)

Test Mean Abosulte Error:  0.11538462611265854

In [96]:
# Normalized Mean Squared Error (Dividing by mean)
mse_test = mean_squared_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Squared Error: ",mse_test)

Test Mean Squared Error:  198.42350412287487